*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  sans-serif;
  text-decoration: none;
}

body{
  background-color: gainsboro ;
}

/*Cabecera*/
#header{
  margin: auto;
  width: 89%;
  height: 150px;
  margin-top: 70px;
  margin-bottom: 70px;
  background-color:white;
  flex-direction: initial;
  
 
}

#img{
height: 150px;
}

/*Menu*/
.contenedor-menu{
  width: 100%;
  height: 50px;
  background-color:white;
  padding: 0px 20px;
  display: flex;
  justify-content: flex-end;
}

nav > ul{
  display: flex;
}

nav ul li{
  list-style: none;
  position: relative;
}

nav > ul > li > a{
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
}

nav > ul > li > a:hover{
  border-bottom: 3px solid yellow;
}

/*SUBMENU*/

nav ul li ul{
  width: 150px;
  display: flex;
  flex-direction: column;
  background:white;
  position: absolute;
  top: 50px;
  left: -5px;
  padding: 10px 0px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  z-index: 10;
  transition: all 400ms ease;
}

nav ul li:hover ul{
  visibility: visible;
  opacity: 1;
  top: 70px;

}

nav ul li ul:before{
  content: '';
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
  position: absolute;
  top: -12px;
  left: 20px;
}

nav ul li ul li a{
  display: block;
  color:black;
  padding: 6px;
  padding-left: 50px;
  margin-top: 8px;
  font-size: 14px;
  transition: all 400ms ease;
}

nav ul li ul li a:hover{
  background: yellow  ;
  color:black;
  transform: scale(1.2);
  padding-left: 30px;
  font-size: 14px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/*Contenido-Principal*/
.contenedor {
  background-color:white;
  width: 89%;
  height: calc(100vh - 20px);
  margin: 0 auto;
  padding: 20px 30px 0 30px;

}

.contenedor-flex{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  
}

@media screen and (min-width:768px){
  .contenedor-flex{
    flex-direction: row;
  }  
}

aside{
  background-color: white;
}

@media screen and (min-width:768px){
  .principal{
    flex:0 1 60%;
    margin-right: 20px;
  }
  aside{
    flex:1;
  }  
}

.servicios{
  /*flex aqui*/
display: flex;
}

.servicios .servicios{
  /*flex aqui*/
  flex: 1;
}


.servicios{
padding: 10px;
background-color: indianred;
}

.servicios :nth-child(2){
  background-color: yellowgreen;
}

.servicios :nth-child(3){
  background-color: palegreen;
}


#aside{
  float: left;
  /* background-color:whitesmoke; */
  padding:50px;
  display: flex;
  flex-direction: column;
 }

#section1{
 float: right;
  /* background-color:whitesmoke; */
  padding:50px;
  display: flex;
  flex-direction: initial;
}

/* .hidden{
display: none;
} */

footer{
  margin: auto;
  width: 89%;
  height: 200px;
  margin-top: 30px;
  background-color:white;
  /*flex aqui*/
  display: flex;
  justify-content: center;
}


footer p {
color: black;
}

 table {
  width: 100%;
  border: 1px solid #000;
}
th, td {
  width: 25%;
  text-align: left;
  vertical-align: top;
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em;
}

th {
  background:bisque;
} 

h1,h2{
    text-align: center;
}

.none{
    border-style: none;
}

.field{
    width: 50%;
    text-align: center;
    border-style: none;
}
 

#formularios{

  width: 80%;
  height: 60vh;
  
}